/* body {
  background-color: rgb(4, 8, 55);
} */

.mainContainer {
 
  display: flex;
  justify-content: space-evenly;
  flex:1 1 auto;
  margin-top: 100px;
  
}


.img-card {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  transition: 0.5s;
}

.img-card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}



