.VideoWow{
    display: flex;
    justify-content: center;
    border-radius: 40px;
    margin: auto;
    min-width: 100%;
    max-height: 50%;
    height: auto;
}

.Logo{
    max-width: 5rem;
}

.navBar {
 display: flex;
 flex-direction: column;
 justify-content: center;
}