
.footer {
    display: flex;
    
    overflow: .45;
    
  }

  .containerFooter{
    display: flex;
    width: 100%;
    margin-top: auto;
    background: #1c2129ea;
    margin-bottom: -20px;
    
  }
.imgTeleg{
    max-width: 4rem;

}
.containerCont{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
}
.conatainerCreator{

    margin-right: 70px;
}