.containerInfo{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 400px;
    height: 410px;
    border: 1px solid black;
    margin-left: 150px;
   background: #292b33;
}
.containerItems{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
}
.description{
    overflow: hidden;
}

.ImgLot{
    width: 400px;
   
}

.containerName{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}